<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asi.educatyapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Data.View.Activities.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        // at this part you must authorities your pakage to work on pic image ==>
        com.github.jrvansuita:PickImage:v2.0.2
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.asi.educatyapp"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="exported,authorities" />

        <activity
            android:name=".Data.chat.chatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".Data.View.Activities.MainActivity" />
        <activity
            android:name=".Data.View.Activities.loginDir.LoginActivity"
            android:theme="@style/AppThemeNoActonBar" />
        <activity
            android:name=".Data.View.Activities.firstscreen"
            android:theme="@style/AppThemeNoActonBar"></activity>
        <activity
            android:name=".Data.View.Activities.SecondScreen"
            android:theme="@style/AppThemeTwo" />
        <activity
            android:name=".Data.View.Activities.RegisterDir.TeacherRegisterOne"
            android:theme="@style/AppThemeTwo" />
        <activity
            android:name=".Data.View.Activities.userAccount.TeacherRegister"
            android:label="Teacher Register"
            android:parentActivityName=".Data.View.Activities.firstscreen"
            android:theme="@style/AppThemeeRegister"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Data.View.Activities.userAccount.StudentRegister"
            android:label="Student Register"
            android:parentActivityName=".Data.View.Activities.firstscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Data.View.Activities.RegisterDir.ParentRegister"
            android:label="Parent Register"
            android:parentActivityName=".Data.View.Activities.firstscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Data.View.Activities.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Data.View.Activities.TeacherA"
            android:theme="@style/AppThemeTwo" />
        <activity android:name=".Data.View.Activities.Groups" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Data.View.Activities.Admin_Activity"
            android:label="Admin" />
        <activity
            android:name=".Data.View.Activities.RegisterDir.AdminRegisterTwo"
            android:label="Admin Register"
            android:parentActivityName=".Data.View.Activities.firstscreen"
            android:theme="@style/AppThemeeRegister"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Data.View.Activities.RegisterDir.Admin_RegisterOne" />

        <service android:name=".Data.View.Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Data.View.Services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Data.View.Activities.theGroup"
            android:label="Group"
            android:parentActivityName=".Data.View.Activities.Home" >

        </activity>
        <activity android:name=".Data.View.Activities.loginDir.ParentAndStudentLogin" />
        <activity
            android:name=".Data.View.Activities.AddHomePosts"
            android:label="Add Post"
            android:parentActivityName=".Data.View.Activities.Home"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Data.View.Activities.CodeOfAdmin" />
        <activity
            android:name=".Data.View.Activities.AddNewGroup"
            android:label="Add new group "
            android:parentActivityName=".Data.View.Activities.Admin_Activity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name=".Data.View.Activities.Comment_Home"
            android:parentActivityName=".Data.View.Activities.Home"
            android:theme="@style/AppThemee" />
        <activity
            android:name=".Data.View.Activities.theEvaluationCustomDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Data.View.Activities.Splash">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".Data.View.Activities.userAccount.LoginEdu"
            android:theme="@style/FullscreenActionBarStyle">

        </activity>
        <activity android:name=".Data.View.Activities.userAccount.student"></activity>
        <activity android:name=".Data.View.Activities.userAccount.teacher"></activity>

    </application>

</manifest>